body {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(384px, 1fr));
    grid-gap: 16px;
    background-color: #CEC3C1;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: left;
  }

  .blog-form {
    text-align: center;
  }

  .navbar{
    font-size: 30px;
    text-align: center;
  }

  .about {
    font-size: 30px;
  }

  .home {
    color: black;
    text-align: center;
  }