body {
    display:grid;
    grid-template-rows:repeat(auto-fit, minmax(384px, 1fr));
    grid-gap: 16px;
    background-color: #CEC3C1;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: left;
  }

  // .blog-form {
  //   text-align: center;
  // }

  // .navbar{
  //   color:#87F5FB;
  //   text-align: right;
  //   width: '100px';
  //   padding: '12px';
  //   margin: '0 6px 6px';
  //   background: 'blue';
  //   color: 'white';
  // }